/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

/* Custom properties */
:root {
  /*colors*/
  --bg-color-dark: black;
  --bg-color-light: white;
  --third-color: rgb(224, 95, 20);
  --font-color-dark: black;
  --font-color-light: white;
  --font-third-color: rgb(224, 95, 20);
  --hover-color-dark: var(--bg-color-dar);
  --hover-color-light: var(--bg-color-light);
  --hover-third-color: var(--third-color);

  /*font sizes*/
  --font-family: 'Poppins', sans-serif;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 4rem;

  /*gaps*/
  --gap: 2rem;
  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 2rem;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;

  --opacity: 0.8;
  --max-width: 1200px;
  --grid-gap: 1rem;
  --transition-speed: 0.3s;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);

}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--light-color);
  background-color: var(--primary-background-color);
  transition: background-color 0.25s, color 0.25s;
  letter-spacing: 1px;


}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: inline-block;


}

ul {
  list-style: none;
}

input,
button {
  font: inherit;
  color: white;
  border: none;
  background-color: transparent;
  outline: none;
}


.highlight {
  color: var(--font-color-light);
  font-weight: 700;
  background-color: var(--third-color);
  padding: 2px 4px;
  border-radius: 3px;
}

.padding-global {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 700px) {
  .padding-global {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1000px) {
  .hidden-sm {
    display: none;
  }
}

.menu-item-hover:hover {
  transform: translatex(3px);
  transition: transform ease-in-out 0.3s;
}

.social-icons-hover:hover {
  color: var(--third-color);
  transition: color ease-in-out 0.3s;
}


/* Navigation styling */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
}

#navbar {
  position: relative;
  top: -60px;
  width: 100%;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  transition: top 0.5s ease 0.5s;
  z-index: 10;
  max-width: 1900px;
}

#navbar.animate {
  top: 0;
  /* Slide down to the top of the screen */
}

.logo {
  padding: var(--padding-medium);
  position: relative;
}

.logo img {
  width: 30px;
  display: block;
  position: relative;


}

.menu-container {
  position: absolute;
  border-radius: 10px;
  top: 4.5rem;
  right: 0rem;
  width: 100%;
  padding: var(--padding-large);
  opacity: 0;
  color: rgb(255, 255, 255);
  background-color: black;
  transform: scale(0);
  transition: opacity.25s ease-in;

}

.list {
  display: flex;
  align-items: right;
  flex-direction: column;
  gap: var(--gap);
}

.menu>.list {
  flex-direction: column;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-medium);
}



.list-link {

  font-size: var(--font-size-lg);
  color: var(--font-color-light);
}


.list-item a:hover {
  transform: translateX(5px);
  transition: 0.3s ease-in-out;
}

.list-item img {
  background-color: aqua;
  width: 20px;
}

.right-navbar-content {
  padding: var(--padding-large);
  display: flex;

  align-items: center;
  justify-content: left;
}

.button {
  display: flex;
  width: 130px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding: var(--padding-medium);
}



.right-list-item button {
  position: relative;
  display: inline;
  color: var(--font-color-dark);
  border-radius: 10px;
  font-size: var(--font-size-lg);
  background-color: var(--third-color);
  color: var(--font-color-light);
  font-weight: bold;
  padding: var(--padding-medium);
  border-radius: 10px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
}



.get-started-btn a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

/* Pseudo-element for hover effect */
.get-started-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.5s ease;
  z-index: 0;
  border-radius: 10px;
}

.get-started-btn:hover::before {
  left: 0;
}


.get-started-btn:hover {
  color: black;

}


.right-list-item {
  display: flex;

  align-items: center;
  justify-content: lef
}




i {
  font-size: 2rem;
}

/* Header JavaScript Styles */
.header.activated {
  box-shadow: 0 1px.5rem red;

}

.menu-container.activated {

  opacity: 1;
  transform: scale(1);
}

.open-menu-icon {
  display: block;
}

.close-menu-icon {
  display: none;
}

.menu-toggle-icon.activated .open-menu-icon {
  display: none;

}

.menu-toggle-icon.activated .close-menu-icon {
  display: block;

}




.contact-wrapper {
  height: 150vh;
  background-color: var(--bg-color-dark);
  display: flex;
  max-width: 1800px;
  flex-direction: column;
  padding: 5rem 1rem;
  justify-content: center;
}

.contact-left-content {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  max-width: 60%;
  justify-content: left;

}

.contact-right-content {
  flex-direction: column;
  display: flex;
  padding: var(--padding-large);
  justify-content: left;

}

.contact-left-content>.main-heading {

  font-size: 5rem;

  color: var(--font-color-light);
  font-weight: 500;
  line-height: 1.1;
  align-self: flex-start;
  padding: var(--padding-large);

}

.main-heading,
.heading,
.method {
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--bg-color-light);

  align-self: flex-start;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  padding: var(--padding-large);
}

.heading {
  font-size: var(--font-size-lg);
  color: rgb(170, 170, 170);
  padding: 1rem 0;
  align-self: flex-start;

}


.details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  padding: 2rem 0;
}


form {
  display: flex;
  flex-direction: column;

}

label {
  margin: 10px 0 5px;
  font-size: var(--font-size-lg);
  color: var(--font-color-light);
  align-self: flex-start;

}

input,
textarea {
  padding: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #444;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  font-size: 1.5rem;
  

}

input::placeholder,
textarea::placeholder {
  color: #b8b8b8;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 100px;
  color: var(--font-color-light);
  border-bottom: 1px solid #444;
  font-size: 1.5rem;
}

.submit-btn {
  padding: 12px 20px;
  background-color: #ffffff;
  color: #121212;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
}

button:hover {
  background-color: var(--third-color);
  color: var(--font-color-light);
  transition: 0.2s ease-in-out;
}










/* Hero Section */
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160vh;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease-in-out, filter 2.5s ease;
  position: relative;
  background-color: black;

}



.heading h1 {

  max-width: 80%;
}


.sub-heading {
  font-size: var(--font-size-sm);
  color: var(--bg-color-light);
  max-width: 100%;
}



.hero-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;

  background-color: black;
  color: rgb(0, 0, 0);
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1.2s ease;


}

/* Final positioning */
.hero.animate {

  filter: blur(0);
  transform-origin: center center;
  transform: scale(1);
}

.hero-content.animate {
  opacity: 1;
  transform: translateY(-20px);

}




/*bottom nav bar*/
.bottom-floating-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: -100px;
  width: 100%;
  transition: bottom 0.5s ease-in-out 0.5s;
  z-index: 1000;
}


.bottom-nav-bar {
  margin-bottom: 10px;
  width: 95%;
  border-radius: 10px;
  background-color: rgba(53, 53, 53, 0.5);
  color: white;
  position: relative;
  padding: 0 var(--padding-small);
  position: relative;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: top 2.5s ease 0.5s;
}

.bottom-floating-navbar.animate {
  bottom: 0px;

}



.bottom-nav-bar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;

}

.bottom-nav-bar.left-content .icon-container {
  display: inline-block;
  margin-right: 15px;
}

.bottom-nav-bar .right-content .col-1 {
  display: flex;
}

.bottom-navbar-list-item {
  padding: 0 var(--padding-large);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav-bar.right-content .bottom-navbar-list-item:last-child {
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav-bar.right-content .list-link {
  color: white;
  text-decoration: none;
}

.bottom-nav-bar.right-content .list-link:hover {
  text-decoration: underline;
}

.right-content-menu-list {
  display: none;
  align-items: center;
  justify-content: center;
}

.left-content {
  padding: var(--padding-small);
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-content {
  display: flex;
  padding: var(--padding-small) 0;
}

.icon-container {
  border-radius: 10px;
  margin: var(--margin-small);
  width: 30px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container:hover {
  cursor: pointer;
  background-color: var(--third-color);

}

.icon-container img {
  width: 20px;

}

@keyframes slideUp {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 80px;
    opacity: 1;
  }
}

.popup-window {
  display: none;
  position: absolute;
  bottom: 80px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  opacity: 0;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.popup-window.animate {
  display: block;
  animation: slideUp 1.5s forwards;
}

.popup-window h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.popup-window .project {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.popup-window .project img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

.contact-us-btn {
  position: relative;
  font-size: var(--font-size-lg);
  background-color: var(--third-color);
  color: var(--font-color-light);
  font-weight: bold;
  padding: 1.5rem;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
}

.right-list-item.contact-us-btn {
  position: relative;
  font-size: var(--font-size-lg);
  background-color: var(--third-color);
  color: var(--font-color-light);
  font-weight: bold;
  padding: 1.5rem;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
}

.contact-us-btn a {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

/* Pseudo-element for hover effect */
.contact-us-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.5s ease;
  z-index: 0;
  border-radius: 10px;
}

.contact-us-btn:hover::before {
  left: 0;
}


.contact-us-btn:hover {
  color: black;
}















@media (min-width: 768px) {

  .footer-nav {
    column-gap: 6rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    display: grid;

  }


}




/*media queries*/

@media (min-width: 768px) {

  .main-heading h1 {
    font-size: var(--font-size-xxl);
  }



  .heading h1 {

    max-width: 60%;
  }


  .contact-left-content {
   
    padding-top: 0rem;
}

.hero{
  height: 120vh;
}

.contact-wrapper {
  
  height: 120vh;
  
}

  .row {
    display: flex;
    gap: 5rem; 
  }






}



@media screen and (min-width:1000px) {



  .screen-lg-hidden {
    display: none;
    transform: scale(0);

  }

  .menu-container {
    position: initial;
    width: initial;
    padding: initial;
    opacity: initial;
    transform: initial;
    background-color: transparent;
    display: flex;
  }


  .left-navbar-content {
    display: none;

    align-items: center;
    justify-content: center;

  }

  .left-navbar-content>.list {
    flex-direction: row;
    margin: auto;

  }

  .right-navbar-content {
    padding: var(--padding-small);

  }

  .right-navbar-content>.list {

    flex-direction: row;

  }


  .right-content-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10rem;
    align-items: center;
  }

  .contact-left-content {
    max-width: 40%;
gap: var(--gap);
    
  }

  .contact-right-content {
    min-width: 60%;
    
    gap: var(--gap);
  }
.contact-left-content h2{
  font-size:1rem;
}
  .heading,.method{
    font-size: 1.5rem;
  }

  .contact-right-content label{
    font-size: 2rem;
  }
  input{
    
  }

  
}


@media screen and (min-width:2000px) {

  .what-we-do {
    width: 50%;
    font-size: var(--font-size-xxl);
  }

  .cta-componant {
    width: 50%;
    font-size: var(--font-size-xxl);
  }

  .last-cta-componant {
    transform: scale(1.5);
  }
}